version: '3.1'
services:
  app:
    build:
      context: ./
      dockerfile: Dockerfile
    image: melio-consulting/jupyterlab-opencv:latest
    environment:
      JAVA_HOME: /usr/lib/jvm/java-11-openjdk-amd64/
    volumes:
      - ./:/opt/play
    ports:
      - "9999:10000"
    command: jupyter lab --notebook-dir=/opt/play/ --ip="0.0.0.0" --port=10000 --no-browser --allow-root
    container_name: open-cv
